
:root{
  --cor-1: #e23e57;
  --cor-2: #ffffff;
  --cor-3: #e96a7e;
  --cor-4: #ce1f3a;
  --cor-5: #e6e6e6;
  --cor-6: #ef97a4;
}

body {
  background-color: #e96a7e;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 1200px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

h2 {
  margin-top: 0;
  color: #666;
}


p {
  margin-bottom: 20px;
  color: #666;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

li:last-child {
  border-bottom: none;
}


.servicos {
  margin-top: 40px;
}

.servicos h2 {
  margin-bottom: 20px;
}


.produtos {
  margin-top: 40px;
}

.produtos h2 {
  margin-bottom: 20px;
}
.header {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  background-color: #ef97a4; 
  padding: 20px; 
  color: white; 
  height: 90px;
}
.header h1 {
  color: #000000;
}

.logo {
  width: 100px; 
  height: auto; 
}

h1 {
  font-size: 2em; 
  margin: 0; 
}


footer {
  background-color: var(--cor-1); 
  color: var(--cor-2); 
  padding: 10px 0; 
  font-size: 12px;
  margin-top: 10px
}

.footer-wrapper {
  max-width: 1200px; 
  margin: 0 auto; 
  padding: 0 15px; 
}

.footer-container {
  display: flex; 
  justify-content: space-between; 
  margin-bottom: 10px; 
}

.footer-info, .footer-links {
  flex: 1;
  margin-right: 10px; 
}

.footer-info h3, .footer-links h3 {
  color: var(--cor-3); 
  margin-bottom: 5px; 
  font-size: 14px; 
}

.footer-links ul {
  list-style-type: none; 
  padding: 0; 
}

.footer-links li {
  margin: 2px 0;
}

.footer-links a {
  color: var(--cor-4); 
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline; 
}

.footer-crypt h1 {
    color: #000000; 
    font-size: 14px; 
}