:root{
  --cor-1: #e23e57;
  --cor-2: #ffffff;
  --cor-3: #e96a7e;
  --cor-4: #ce1f3a;
  --cor-5: #e6e6e6;
  --cor-6: #ef97a4;
}
.Body{
  .container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .fila {
    margin-bottom: 40px;
  }
  
  .fila h2 {
    margin-top: 0;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  li:last-child {
    border-bottom: none;
  }
  
  button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #3e8e41;
  }
  
  .atendimento {
    text-align: center;
  }
}
Header{





  
}